@import url('https://fonts.googleapis.com/css2?family=Rubik+Spray+Paint&display=swap');

body{
    display: flex;
    width: 100%;
    background-image: url('../img/campo.jpg');
    background-size: cover;
}

#anim{
   display: flex;
   position: fixed;

}


#sol img{
    position: absolute;
    animation-name: solecito;
    animation-duration: 33s;
}
#lluvia img{
    width: 200px;
    position: relative;

    animation-name: lluvia-cae;
    animation-duration: 16s;
    animation-fill-mode: both;
}
#nube img{
    width: 400px;
    position: relative;
    
    animation-name: movimiento-nube;
    animation-duration: 15s;
    animation-fill-mode: both;
}
#flor img{
    width: 200px;
    position: relative;

    animation-name: crece-flor;
    animation-duration: 20s;
    animation-delay: 8s;
    animation-fill-mode: both;
}
p{
    display: flex;
    position: fixed;
    color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: orange;
    font-size: 60px;
    font-family: "Rubik Spray Paint", system-ui;

    animation-name: letricas;
    animation-duration: 20s;
    animation-fill-mode: both;
}
@keyframes solecito{
    0%{opacity: 0; }
    30%{opacity: 0;}
    50%{opacity: 1;}
    100%{opacity: 1;}
}
@keyframes movimiento-nube {
    0%{left: -400px;}
    45%{left: 200px;}
    50%{left:200px;}
    60%{left:200px;}
    100%{left: 2000px;}
}
@keyframes lluvia-cae {
    0%{opacity: 0; left: 300px;}
    30%{opacity: 0; left: 300px;}
    50%{opacity: 1; left: 300px; top: -50px;}
    65%{opacity: 1; left: 300px; top: 500px;}
    80%{opacity: 0;}
    100%{opacity: 0; left: 300px;}
}

@keyframes crece-flor {
    0%{top: 1200px; left: -50px;}
    70%{top:700px; left: -50px;}
    100%{top: 700px; left: -50px;}
}
@keyframes letricas{
    0%{opacity: 0;}
    50%{opacity: 0;}
    100%{opacity: 1; left: 550px; top: 400px;}
}